*{
    text-align: center;
  }
  
  body{
    font-family: monospace;
  }

.nav-links{
    border: 2px solid #2f2f2f;
    border-radius: 27px;
}

  a{
    text-decoration:none!important;
    color:#2f2f2f;
    font-size:27px;
  }

.text-decoration{
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height:65%;
}

.title-container{
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height:65%;
}
  
  h2{
    font-size: 5rem;
    text-shadow: 7px 7px tan;
  }

  img{
    max-width: 75%;
  }
  
  p{
    font-size:2rem;
  }
