
/*-- idk what Im doin --*/

body {
    font-family: 'Jost', sans-serif;
    background-color: #efbe47;
    /*background-image: url("https://github.com/jlinds2/portfoliowebsite/blob/main/images/idkwebsiutething.png?raw=true");
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;*/
    text-align: center;
  }
  .section-one{min-height:85vh;}
  .section-two{min-height:85vh;}
  
  /*-- Navbar --*/
  nav {margin-top: 7px;}
  a{text-decoration: none; color:white;font-size: 22px;padding-left: 7px; padding-right: 7px;}
  .navlinks:hover{animation: shake 5s;
    animation-iteration-count: infinite;}
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  .navlinks:hover{ -webkit-filter: blur(0.7px);filter: blur(0.7px);}
  .navlinks {
    display: inline-block;
    float: right;
    margin-right: 27px;
    border: 2px solid #2f2f2f;
    border-radius: 27px;
    background-color: #0D97AC;
    box-shadow:7px 7px #2f2f2f;
  }
  /*--  --*/
  
  .container{padding-top: 127px;}
  button {background-color: transparent;}
  
  h1{font-family:'Jost', sans-serif;}
  
  .titlesquare {
    display: block;
    margin: 0 auto;
    width: 37%;
    border: 2px solid #2f2f2f;
    border-radius: 27px;
    margin-bottom: 67px;
    background-color: #DDA033;
    box-shadow: 5px 7px #2f2f2f;
    height: auto;
  }
  /*.titlesquare:hover {
    webkit-filter: blur(0.7px);
    filter: blur(0.7px);
  }*/
  
  .title {text-align: center;}
  
.ux-ui-work{
    text-align: center;
    margin-top: 7px;
}

  #wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    text-align: center;
    height: auto;
    margin: 0 auto;
  }

  .work-two{
    text-align:center;
    padding-top: 57px;
  }
  #wrapper-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    text-align: center;
    height: auto;
    margin: 0 auto;
  }
  
  .alink {
    display: block;
    margin: 0 auto;
    text-decoration: none; 
    color: #2f2f2f;
    border: 2px solid #2f2f2f;
    border-radius: 27px;
    background-color: white;
    box-shadow: 2px 3px;
    height: auto;
  }
  .alink:hover {
    /*-webkit-filter: blur(0.7px);
    filter: blur(0.7px);*/
    animation: shake 7s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-.5px, -2px) rotate(-1deg); }
    20% { transform: translate(-1px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  img {
      padding-top: 27px;
      object-fit: contain;
      text-align: center;
      height: auto;
  }

  #slide{
    color:#e8e8e8;
    font-size:37px;
    padding-top:27px;
    width:77%;
    margin: 0 auto;
    margin-top:7px;
    height: auto;
  }
  
  #panel {
    display: none;
    padding: 37px;
    color: #2f2f2f;
    /*background-color:#e8e8e8;*/
    width: 27%;
    margin: 0 auto;
    border-radius: 27px;
    height: auto;
    border: 2px solid #2f2f2f;
    font-size: 17px;
    margin-top: 7px;
  }

  #slide-two{
    color:#e8e8e8;
    font-size:37px;
    padding-top:27px;
    width:77%;
    margin: 0 auto;
    margin-top:7px;
    height: auto;
  }
  
  #panel-two {
    display: none;
    padding: 37px;
    color: #2f2f2f;
    /*background-color:#e8e8e8;*/
    width: 27%;
    margin: 0 auto;
    border-radius: 27px;
    height: auto;
    border: 2px solid #2f2f2f;
    font-size: 17px;
    margin-top: 7px;
  }

  #slide-three{
    color:#e8e8e8;
    font-size:37px;
    padding-top:27px;
    width:77%;
    margin: 0 auto;
    margin-top:7px;
    height: auto;
  }
  
  #panel-three {
    display: none;
    padding: 37px;
    color: #2f2f2f;
    /*background-color:#e8e8e8;*/
    width: 27%;
    margin: 0 auto;
    border-radius: 27px;
    height: auto;
    border: 2px solid #2f2f2f;
    font-size: 17px;
    margin-top: 7px;
  }
  #slide-four{
    color:#e8e8e8;
    font-size:37px;
    padding-top:27px;
    width:77%;
    margin: 0 auto;
    margin-top:7%;
    height: auto;
    display: block;
    text-align: center;
  }
  
  #panel-four {
    display: none;
    padding: 37px;
    color: #2f2f2f;
    /*background-color:#e8e8e8;*/
    width: 27%;
    margin: 0 auto;
    border-radius: 27px;
    height: auto;
    border: 2px solid #2f2f2f;
    font-size: 17px;
    margin-top: 7px;
  }

  @media (max-width:650px) {
  body{text-align: center;}
   #wrapper{display: inline-block;}
   #wrapper-two{display: inline-block;margin: 0 auto;}
   #alink{margin-bottom: 37px;}

   nav {
    display: grid;
    text-align: center; width:27%;margin: 0 auto;
    grid-template-columns: repeat(3);
    justify-content: center;
    align-items: center;
    }

    .titlesquare {
        width: 67%;
    }
}
