
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'raleway';
  background-color: #f2efb6;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #f2efb6;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 27px;
  color: #2f2f2f;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 27px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #2f2f2f;
}

.nav > .nav-links > a:hover {
  opacity: 0.4;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:750px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    opacity: 0.4;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #2f2f2f;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #ffffff;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

body {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
width: 15px;
border-radius: 27px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f2efb6; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #2f2f2f; 
border-radius: 27px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #2e2e2e;  
}


.images {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.images2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  
}

.images3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 150%;
}