* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
    margin: 0;
    font-family: raleway;
    background-color: #2f2f2f;
  }
  /* -------- This is the nav header --------*/
  .nav {
    height: 50px;
    width: 100%;
    background-color: #F2EFB6;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 27px;
    color: #2f2f2f;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 27px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #2f2f2f;
  }
  
  .nav > .nav-links > a:hover {
    opacity: 0.4;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:750px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
   opacity: 0.4;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #2f2f2f;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #F2EFB6;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  
  section {
    height: 100vh;
  }
  
  /* -------- This is section one --------*/
  
  .sectionone {
    background-color: #2f2f2f;
    height: 137vh;
    
  }
  
  .container {
    padding-top: 7rem;
  }
  
  /* - This is the gig animation -*/
  .gig {
    text-align: center;
    color: white;
    font-size: 127px;
    margin-bottom: 127px;
  }
  
    .gig {
      color: white;
      text-align: center;
      margin-bottom: 7px;
      font-size: 187px;
      text-shadow:
  
          0 0 2px #fff,
          0 0 7px #fff,
          0 0 15px #fff,
          0 0 12px #fff,
          0 0 37px #fff,
          0 0 57px #fff,
          0 0 75px #fff,
          0 0 37px #fff;
    }
    
    .gig {
      animation: flicker 2.5s infinite alternate;
      opacity: .7;   
    }
    
    /* Flickering animation */
    @keyframes flicker {
        
      0%, 18%, 22%, 25%, 53%, 57%, 100% {
    
          text-shadow:
          0 0 4px #fff,
          0 0 11px #fff,
          0 0 19px #fff,
          0 0 40px #F2EFB6,
          0 0 80px #F2EFB6,
          0 0 90px #F2EFB6,
          0 0 100px #F2EFB6,
          0 0 127px #F2EFB6;
      
      }
      
      20%, 24%, 55% {        
          text-shadow: none;
          
      }    
    }
  /* --------------------------------------------- */
  .description {
    text-align: center;
    color: white;
    margin-bottom: 27px;
  }
  
  .search {
    width: 267px;
    height: 27px;
    display: block;
    margin: 0px auto;
    border-radius: 27px;
    box-shadow: 2px 2px #F2EFB6;
    margin-bottom: 67px;
  }

  #button {
    position: relative;
    top: -227px;
    display: block;
    margin: 0 auto;
  }
  
  #button:hover {
    opacity: .7;
  }

.wt {
  text-align: center;
  color: white;
  font-size: 27px;
  margin-bottom: 27px;
  opacity: .7;
}

  .animg {
    width: 637px;
    height: 327px;
    border: solid white;
    box-shadow: 10px 10px gray;
    display: block;
    margin: 0 auto;
    margin-bottom: 2px;
  }

/* ---- For the audio player ----*/

.wtc {
  margin: 0 auto;
}

figure#audioplayer { 
  background: #2f2f2f;
  overflow: hidden;
  width: 32rem;
  margin: 0 auto;
  margin-top: -67px;
}

figure#audioplayer audio { 
  width: 0; 
  height: 0; 
}

figure#audioplayer figcaption { 

  font-size: 0;
  margin: .45rem; 
  float: left; 
  border: 1px solid #555;
}
figure#audioplayer figcaption div { 

  color: white;
  text-transform: uppercase; font-size: .8rem;
  display: inline-block;
}
figure#audioplayer figcaption div span { 
  display: block;
  font-size: 1.3rem;
  text-indent: 1rem; 
}
div#album { 
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  width: 100%; 
}
div#time { 
  width: 7.55rem;
  border-left: 1px solid #555; 
}
  
/* --------------------------------------------- */

  h2 {
    color: white;
    font-size: 27px;
  }
  
/* -------- This is section two --------*/
  
  .sectiontwo {
    background-color: white;
  }
  
  .fpwylf {
    text-align: center;
    color: #2f2f2f;
    font-size: 57px;
    padding-bottom: 197px;
    margin-top: 27px;
  }
  
  .grid {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
    width: 100%; 
    display: grid;
    /* Define Auto Row size */
    grid-auto-rows: 100px; 
    /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(327px, 1fr)); 
    grid-gap: 1em;
  }

  .searchtxt {
    text-align: center;
    color: #2f2f2f;
  }
  
  .sectiontwoimg {
    width: 327px;
    height: 327px;
    border-radius: 97%;
    display: block;
    margin: 0 auto;
    margin-bottom: 27px;
  }
  
  
  .searchtwo {
    display: block;
    margin: 0 auto;
    width: 187px;
    height: 27px;
    display: block;
    margin: 0 auto;
    border-radius: 27px;
    border: 2px #2f2f2f solid;
    box-shadow: 7px 7px #F2EFB6;
  }
  
  /* -------- This is section three --------*/
  
  .sectionthree {
    background-color: #2f2f2f;
    height: 137vh;
   }

   .genres {
     text-align: center;
     color: white;
     font-size: 87px;
     margin-bottom: 27px;
   }

  .genretxt {
    text-align: center;
    color: white;
    margin-bottom: 27px;
  }
   
   .genreimg {
     width: 85%;
     height: 227px;
     margin-left: 57px;
     margin-right: 57px;
     display: block;
     margin: 0 auto;
     border-radius: 27px;
     box-shadow: 7px 7px white;
     object-fit: cover;
     margin-bottom: 27px;
   }
   
   .genreimg:hover {
     opacity: .7;
   }
   
/* -------- This is section three @media --------*/
   @media (max-width: 1800px) {

    .sectionthree {
      height: 187vh;
    }

  }

/* -----------------------------------------------------------*/

  @media (max-width:1200px) {
    
    * {
     margin: 0; 
    }

.sectionone {
  height: 167vh;
}

    .wt {
      text-align: center;
      color: white;
      font-size: 27px;
      margin-bottom: 27px;
      opacity: .7;
    }

    .button {
      position: relative;
      top: -187px;
      margin: 0 auto;
    }
    
      .animg {
        width: 527px;
        height: 227px;
        border: solid white;
        box-shadow: 10px 10px gray;
        display: block;
        margin: 0 auto;
      }

      .wtc {
        margin: 0 auto;
        size: 7em;
      }
    
    /* -------- This is section two @media --------*/
    
    .sectiontwo {
      height: 157vh;
    }

    .fpwylf {
      font-size: 37px;
    }
    
    
    .grid {
    position: relative;
    top: -197px;
    margin: 30px auto;
    padding: 0 17px;
    display: grid;
    /* Define Auto Row size */
    /*Define our columns */
    grid-gap: 15em;
    }
    
    
    .sectiontwoimg {
    width: 227px;
    height: 227px;
    border-radius: 97%;
    display: block;
    margin: 0 auto;
    margin-bottom: 27px;
  }

  .searchtwo {
    display: block;
    width: 187px;
    height: 27px;
    display: block;
    margin: 0 auto;
    border-radius: 27px;
    border: 2px #2f2f2f solid;
    box-shadow: 7px 7px #F2EFB6;
  }
    
    /* -------- This is section three @media --------*/
    
.sectionthree{
  height: 187vh;
}
    
  }
  
  @media (max-width: 750px) {
    
    * {
     margin: 0; 
    }
    figcaption {
      margin: 0;
      width: 97%;
      position: relative;
    }

    .wt {
      text-align: center;
      color: white;
      font-size: 27px;
      margin-bottom: 37px;
      opacity: .7;
   
    }

    .sectionone {
      background-color: #2f2f2f;
      height: 157vh;
      
    }
    
      .animg {
        width: 57%;
        height: 27%;
        border: solid white;
        box-shadow: 10px 10px gray;
        display: block;
        margin: 0 auto;
  
      }

      .wtc {
        margin: 0 auto;
      }

      .button {
        position: relative;
        top: -137px;
        margin: 0 auto;
      }
    
      .button:hover {
        opacity: .7;
      }
    
    /* -------- This is section two @media --------*/
    
    .sectiontwo {
      height: 157vh;
    }
    
    .searchtxt {
      position: relative;
      top: 27px;
      margin-bottom: 27px;
    }

    .grid {
    
    margin: 30px auto;
    padding: 0 20px;
    display: grid;
    /* Define Auto Row size */
    /*Define our columns */
    grid-gap: 7em;
    }
    
    
    .sectiontwoimg {
    width: 137px;
    height: 127px;
    border-radius: 97%;
    display: block;
    margin: 0 auto;
    margin-bottom: 17px;
  }

  .searchtwo {
    display: block;
    width: 187px;
    height: 27px;
    display: block;
    margin: 0 auto;
    border-radius: 27px;
    border: 2px #2f2f2f solid;
    box-shadow: 7px 7px #F2EFB6;
    margin-bottom: 27px;
  }
    
    /* -------- This is section three @media --------*/
    


  
    
  }