/* S */
* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
  }

  section {
    height: 100vh;
  }

  /* This is the navbar */

  .nav {
    height: 75px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 27px;
    color: #262f32;
    padding: 17px 27px 27px 17px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 27px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 19px 27px 27px 27px;
    text-decoration: none;
    color: #262f32;
  }
  
  .nav > .nav-links > a:hover {
    opacity: 0.4;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:750px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
   opacity: 0.4;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #2f2f2f;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #ffffff;
      height: 0px;
      transition: all 0.2s linear;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    background-color: white;
    
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
      
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

section {
  height: 100vh;
}

  
  
  /* ------- Section one ------- */
  
  .sectionone {
    background-color: white;
  }
  
  
  .topthing {
    text-align: center;
    color: #2f2f2f;
    opacity: .7;
    padding-top: 27px;
    padding-left: 27px;
   
  }

    .sectionimg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 287px;
    width:100%;
    z-index:0;
    height:100%;
    background-size: calc(100% + 75px);
    animation: float 6s ease-in-out infinite;
  }

  /* ------- Animating the image ------- */
  
  @keyframes float {
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);} 
    
}

  .square {
    width: 75%;
    height: 187px;
    border: 2px solid #2f2f2f;
    border-radius: 27px;
    margin: 0 auto;
    margin-top: 57px;
  }
  
  .description {
    text-align: center;
    color: #2f2f2f;
    padding-top: 2px;
    font-size: 57px;
    text-shadow: 2px 2px #ff9b74;
  }
  
  .work {
    text-align: center;
    margin-top: 27px;
    font-size: 87px;
  }
  
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top: 27px;
    border: 2px solid #2f2f2f;
    border-radius: 27px;
    background-color: white;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.row {
    padding-left: 37px;
    padding-right: 37px;
}

.column {
    height: 887px;
    
}

.columnimg {
    width: 100%;

}

  @media (max-width:1500px) {
    .description {
        text-align: center;
        color: #2f2f2f;
        padding-top: 2px;
        font-size: 27px;
        text-shadow: 2px 2px #ff9b74;
      }

      .square {
        width: 75%;
        height: 87px;
        border: 2px solid #2f2f2f;
        border-radius: 27px;
        margin: 0 auto;
        margin-top: 57px;
      }

      .sectionimg {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 127px;
        width:100%;
        z-index:0;
        height:100%;
        background-size: calc(100% + 75px);
        animation: float 6s ease-in-out infinite;
      }

      @keyframes float {
        from {-webkit-transform:translate(0, 0px);}
        65% {-webkit-transform:translate(0, 15px);}
        to {-webkit-transform: translate(0, -0px);} 
        
    }

    .row:after {
        display: block;
        margin: 0 auto;
        
      }

    .row {
        padding-left: 37px;
        padding-right: 37px;
        height: 587px;
        display: block;
        margin: 0 auto;
    }

    .column {
        height: 587px;
        display: block;
        margin: 0 auto;
        width: 100%;
        
    }

    .columnimg {
        width: 65%;
        margin-bottom: -37px;
    }
    
  }

  @media (max-width:1400px) {
    .description {
        text-align: center;
        color: #2f2f2f;
        padding-top: 2px;
        font-size: 27px;
        text-shadow: 2px 2px #ff9b74;
      }

      .square {
        width: 75%;
        height: 87px;
        border: 2px solid #2f2f2f;
        border-radius: 27px;
        margin: 0 auto;
        margin-top: 57px;
      }

      .sectionimg {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 127px;
        width:100%;
        z-index:0;
        height:100%;
        background-size: calc(100% + 75px);
        animation: float 6s ease-in-out infinite;
      }

      @keyframes float {
        from {-webkit-transform:translate(0, 0px);}
        65% {-webkit-transform:translate(0, 15px);}
        to {-webkit-transform: translate(0, -0px);} 
        
    }

    .row:after {
        display: block;
        margin: 0 auto;
        
      }

    .row {
        padding-left: 37px;
        padding-right: 37px;
        height: 587px;
        display: block;
        margin: 0 auto;
    }

    .column {
        height: 587px;
        display: block;
        margin: 0 auto;
        width: 100%;
        
    }

    .columnimg {
        width: 75%;
    
    }
    
  }

  @media (max-width: 750px) {

    .topthing {
        text-align: center;
        color: #2f2f2f;
        opacity: .7;
        padding-top: 27px;
        padding-left: 27px;
        visibility: hidden;
      }

    .description {
        text-align: center;
        color: #2f2f2f;
        padding-top: 17px;
        font-size: 17px;
        text-shadow: 2px 2px #ff9b74;
      }
      

    .sectionimg {
        
        position: absolute;
        top: 287px;
        z-index:0;
        height:100%;
        background-size: calc(100% + 75px);
        margin: 0 auto;
        animation: float 6s ease-in-out infinite;
        visibility: hidden;
      }

    .row:after {
        display: block;
        margin: 0 auto;
        
      }

    .row {
        padding-left: 37px;
        padding-right: 37px;
        height: 587px;
        display: block;
        margin: 0 auto;
    }

    .column {
        height: 387px;
        display: block;
        margin: 0 auto;
        width: 100%;
        
    }

    .columnimg {
        width: 75%;
    
    }
  }

