body {
  font-family: 'Raleway';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.imagecontainer {
  text-align: center;
  font-size: 127px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.idkkheader {
  text-align: center;
  font-size: 127px;
}

.headercontainer {
  font-size: 47px;
  align-content: center;
  animation: slideMe4 .4s ease-in;
  padding-bottom: 7px;
}

.imagedetails {
  height: 347px;
  width: 347px;
  border-radius: 47%;
  object-fit: contain;
  animation: slideMe4 0.4s ease-in;
}

@keyframes slideMe4{
  0%{
    /*transform: skewY(253deg)translateY(-2500px);*/
    opacity: 0;
  }
  100%{
    /*transform: skew(0deg);*/
    opacity: 1;
  }
}

.headerimage {
  position: absolute;
  width: 1455px;
  height: 441px;
  left: 0px;
  top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://picsum.photos/seed/200/400");
}

h2 {
  margin: 0% auto;
}

.idkkheader2 {
  font-size: 27px;
  animation: slideMe4 0.4s ease-in;
  padding-bottom: 15px;
}

.rows {
  text-align: center;
  margin: 0 auto;
  font-size: 27px;
  min-inline-size: 27px;
  animation: slideMe4 0.4s ease-in;
 }
 
a {
  text-decoration: none;
  color: gray;
  margin: 0% auto;
}

li {
  display: inline;
  margin: 0% auto;
  
}

.column {
  columns: 100px 3;
}

.section {
  min-height: 100vh;
}

.headerclass {
  text-align: center;
  animation: slideMe4 0.4s ease-in;
}

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  
}

.portfolio-gallery__item {
  width: 50%;
  height: 50vmin;
  background-size: cover;
}

#item1 { background-image: url("images/Shadowcover15.jpg"); }
#item2 { background-image: url("images/gigcover15.jpg"); }
#item3 { background-image: url("https://picsum.photos/seed/300/400"); }
#item4 { background-image: url("https://picsum.photos/seed/400/400"); }

#item1 {
  margin-top: 17px;
  opacity: 1;
  animation: slideMe4 0.4s ease-in;
}
#item1:hover {
  margin-top: 0px;
  opacity: 0.5;
  -webkit-transition: opacity 1s;
  transition: opacity 0.4s;
}

#item2 {
    margin-top: 17px;
    opacity: 1;
    animation: slideMe4 0.4s ease-in;
  }

#item2:hover {
    margin-top: 0px;
    opacity: 0.5;
    -webkit-transition: opacity 1s;
    transition: opacity 0.4s;
  }

  .hoverlinks:hover {
    color: #2f2f2f;
  }






