* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'raleway';
    background-color: #FCF9EC;
  }
  
  .nav {
    height: 75px;
    width: 100%;
    background-color: #FCF9EC;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 27px;
    color: #262f32;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 27px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #262f32;
  }
  
  .nav > .nav-links > a:hover {
    opacity: 0.4;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:650px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
   opacity: 0.4;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #2f2f2f;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #FCF9EC;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    background-color: #FCF9EC;
    
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
      
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  
  ::-webkit-scrollbar {
    width: 15px;
    border-radius: 27px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #FCF9EC; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffc195; 
    border-radius: 27px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b35715;  
  }
  
   .gifimage {
          margin: 0 auto;
          max-width: 1500px;
          max-height: 900px;
          
      }
      
      .img {
          display: block;
          max-width: 1500px;
          
      }
  
      .image2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
  
      .works {
          text-align: center;
          color: #262f32;
      }

      #float {
        position: relative;
        -webkit-animation: floatBubble 1s infinite  normal ease-out;
        animation: floatBubble 1s  normal ease-out;
    }
    @-webkit-keyframes floatBubble {
        0% {
            top:500px;
            opacity: 0;
        }
        100% {
            top: 0px;
            opacity: 1;
        }
    }
    @keyframes floatBubble {
        0% {
            top:500px;
            opacity: 0;
        }
        100% {
            top: 0px;
            opacity: 1;
        }
    }
  
      .portfolio-gallery {
          display: flex;
          flex-wrap: wrap;
          min-width: 50%;
          flex-grow: 1;
          
          
        }
        
        .portfolio-gallery__item {
          min-width: 50%;
          min-height: 50vmin;                                                        
          background-size: cover;
          max-width: 100%;
          height: auto;
          flex-grow: 1;
        }
        
        
        
        
        #item1 { 
          background-image: url("images/EasyNotescover7.jpg");
          border: solid 7px #2f2f2f;
          flex-basis: 75px;
          flex-grow: 1;
        }
        #item2 { background-image: url(""); }
        #item3 { 
          background-image: url("images/Gigcoverimage7.jpg"); 
          border: solid 7px #2f2f2f;
          flex-grow: 1;
          flex-basis: 75px;
            
        }
        #item4 { background-image: url("https://picsum.photos/seed/400/400"); }
