body {
    font-family: 'Baloo 2';
    font-family: 'Libre Franklin', sans-serif;
    background-color: #fcd4d0;
}

img {
    width: 100%;
    padding-top: 27px;
    margin: 0 auto;
}

  nav {margin-top: 7px;margin-bottom: 27px;}
  a{text-decoration: none; color:white;font-size: 22px;padding-left: 7px; padding-right: 7px;}
  .navlinks:hover{animation: shake 5s;
    animation-iteration-count: infinite;}
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  .navlinks:hover{ -webkit-filter: blur(0.7px);filter: blur(0.7px);}
  .navlinks {
    display: inline-block;
    float: right;
    margin-right: 27px;
    border: 2px solid #2f2f2f;
    border-radius: 27px;
    background-color: #0D97AC;
    box-shadow:7px 7px #2f2f2f;
  }
